body {
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
    font-family: cursive;
    font-size: 4em;
    letter-spacing: 2px;
    margin-top: 4%;
}

p {
    font-family: fantasy;
    letter-spacing: 2px;
    color: brown;
}

ul li {
    list-style: none;
    letter-spacing: 2px;
    color: darkblue;
}

h3 {
    color: white;
}

.div-3 a {
    text-decoration: none;
    letter-spacing: 8px;
    color: darkblue;
}

a:hover {
    color: white;
}

.container {
    margin-top: 3%;
    margin-left: 45%;
    border: 8px solid wheat;
    border-style: groove;
}

img {
    border-radius: 50%;
    width: 30%;
    float: left;
    margin-top: 7%;
    margin-left: 5%;
    opacity: .4;
}